# Relatório de Anáise IV

## Seleções e Frequências

In [1]:
import pandas as pd
df = pd.read_csv('dados/aluguel_residencial.csv',sep=';')
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [4]:
#Selecione somente os imóveis classificados com tipo "Apartamento"
selecao = df['Tipo'] == 'Apartamento'
n1 = df[selecao]
n1 = n1.shape[0]
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [6]:
#Selecione os imóveis classificados com tipos 'Casa','Casa de Condomínio' e 'Casa de Vila'
selecao = (df['Tipo'] == 'Casa') | (df['Tipo'] == 'Casa de Condomínio') | (df['Tipo'] == 'Casa de Vila')
n2 = df[selecao]
n2 = n2.shape[0]
n2

2212

In [9]:
#Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
selecao = (df['Area'] <= 100) & (df['Area'] >= 60)
n3 = df[selecao]
n3 = n3.shape[0]
n3

8719

In [12]:
#Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00
selecao = (df['Quartos'] >= 4) & (df['Valor'] <= 2000)
n4 = df[selecao]
n4 = n4.shape[0]
n4

60

In [13]:
print(f'Registros de Apartamento -> {n1}')
print(f'Registros de Casa, Casa de Condomínio e Casa de Vila -> {n2}')
print(f'Registros com área entre 60 e 100 m^2 -> {n3}')
print(f'Registros com 4 quartos e aluguel inferior a R$2000.00 -> {n4}')

Registros de Apartamento -> 19532
Registros de Casa, Casa de Condomínio e Casa de Vila -> 2212
Registros com área entre 60 e 100 m^2 -> 8719
Registros com 4 quartos e aluguel inferior a R$2000.00 -> 60