# Curso Pandas - Exercícios

## Informações de um DataFrame

In [2]:
import pandas as pd
data = [['Fulano',12,7.0,True], ['Sicrano',15,3.5,False],['Beltrano',18,9.3,True]]
dados = pd.DataFrame(data, columns = ['Nome','Idade','Nota','Situação'])
dados

       Nome  Idade  Nota  Situação
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True

In [15]:
dados.dtypes
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])

In [17]:
tipos_de_dados.columns.name = 'Variáveis'

In [18]:
tipos_de_dados

Variáveis Tipos de Dados
Nome              object
Idade              int64
Nota             float64
Situação            bool

In [20]:
print(f'A base de dados possui {dados.shape[0]} registros (alunos) e {dados.shape[1]} variáveis (nota,nome..)')

A base de dados possui 3 registros (alunos) e 4 variáveis (nota,nome..)