# Criando Series

In [1]:
import pandas as pd
dados = [1,2,3,4,5]
series = pd.Series(dados)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
indexx = ['Linha' + str(i) for i in range(len(series))]
indexx

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [3]:
series = pd.Series(dados, index=indexx)
series
#Aqui usamos uma lista para os dados e outra para os índices

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [4]:
dados = {'Linha' + str(i) : i+1 for i in range(0,5)}
dados

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [5]:
s = pd.Series(dados)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [6]:
s2 = s + 1
s2

Linha0    2
Linha1    3
Linha2    4
Linha3    5
Linha4    6
dtype: int64

In [8]:
s3 = s + s2
s3

Linha0     3
Linha1     5
Linha2     7
Linha3     9
Linha4    11
dtype: int64

## DataFrame

In [10]:
n = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(n)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
index = ['Linha' + str(i) for i in range(0,df.shape[0])]
index

['Linha0', 'Linha1', 'Linha2']

In [12]:
df = pd.DataFrame(data=n,index=index)
df

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [23]:
columns = ['Coluna' + str(i) for i in range(df.shape[1])]
df1 = pd.DataFrame(n,index=index,columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

## Criando DataFrame com Dicionário

In [16]:
d = {'Coluna0' : {'Linha0': 1, 'Linha1' : 4,'Linha2':7}, 
'Coluna1':{'Linha0':2,'Linha1':5,'Linha2':7}, 
'Coluna2':{'Linha0':3,'Linha1':6,'Linha2':9}}
df2 = pd.DataFrame(d)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        7        9

In [17]:
df3 = [(1,2,3),(4,5,6),(7,8,9)]
df3 = pd.DataFrame(df3,index=index,columns=columns)
df3
#Usando Tuplas

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [24]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [25]:
df2[df2 > 0] = 'B'
df3[df3 > 0] = 'C'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [26]:
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

## Concatenando Matrizes do lado ou acima

In [29]:
df4 = pd.concat([df1,df2,df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [30]:
df5 = pd.concat([df1,df2,df3],axis=1)
df5
#Eixo 1

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C