# Organizando DataFrames

In [1]:
data = [[1,2,3],[4,5,6],[7,8,9]]
l = list('CBA')
l

['C', 'B', 'A']

In [9]:
import pandas as pd
c = list('ZYX')
df = pd.DataFrame(data, index=l,columns=c)
df

   Z  Y  X
C  1  2  3
B  4  5  6
A  7  8  9

In [13]:
df.sort_index(inplace=True,axis=0)
df

   X  Y  Z
A  9  8  7
B  6  5  4
C  3  2  1

In [12]:
df.sort_index(inplace=True, axis=1)
df

   X  Y  Z
C  3  2  1
B  6  5  4
A  9  8  7

In [7]:
df.sort_values(by='X',inplace=True)
df

   X  Y  Z
C  3  2  1
B  6  5  4
A  9  8  7

In [8]:
df.sort_values(by='A',axis=1,inplace=True)
df

   Z  Y  X
C  1  2  3
B  4  5  6
A  7  8  9

In [10]:
df

   Z  Y  X
C  1  2  3
B  4  5  6
A  7  8  9

In [14]:
df

   X  Y  Z
A  9  8  7
B  6  5  4
C  3  2  1

In [15]:
df.sort_values(by=['X','Y'], axis=0)

   X  Y  Z
C  3  2  1
B  6  5  4
A  9  8  7